body {
    font-family: roboto;
    background-color: #ffdd40;
    color: white;
    text-align: left;
    font-family: vt
  }
  .menu{
    background-color: #aaaebc
  }
  
  a{
    color: white;
    text-decoration: none;
      
      
  }
  .menu ul{
    display: flex;
    justify-content: space-around;
      
  }
  .menu li{
    list-style: none
      
  }
  
  a: hover{
    tect-element: underline
     }
  .site-title{
    text-align: center;
  }
  .site-subtitle{
    text-align:center;
  }
  
  
      
  